body {
  margin: 0;
  font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

.flex-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.MuiDrawer-paperAnchorLeft {
  left: 0;
  right: auto;
  background-color: #ddd8c4 !important;
}

.MuiToolbar-regular {
  color: black !important;
  min-height: 50px !important;
  max-height: 50px !important;
}
.MuiAppBar-colorPrimary {
  background-color: rgba(106, 163, 151, 0.6) !important;
}

/* FORM ELEMENTS */

.generic-form {
  width: 90%;
  margin: 5%;
}

.generic-input {
  width: 100%;
  margin: 10px 0;
}

.page-container {
  width: 90%;
  margin: auto;
}
